# .clang-tidy
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  modernize-use-trailing-return-type,
  modernize-use-auto,
  -readability-avoid-const-params-in-decls,
  -*-easily-swappable-parameters
  readability-identifier-naming

WarningsAsErrors: '*'              # change to '*' to turn all warnings into errors
HeaderFilterRegex: '.*'           # applies checks to all headers

CheckOptions:
  # identifier-naming rules
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.StaticVariableSuffix
    value: _
  - key: readability-identifier-naming.ClassMemberSuffix
    value: _
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  # tweak one of the modernize-loop-convert options
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
